In [13]:
import pandas as pd

In [14]:
df = pd.read_csv('RoughSleepers.csv')

In [17]:
df = df.set_index(list(df)[0])

In [18]:
df

,GSS Code,2019/20,2020/21,2021/22,2022/23,2023/24
Area,,,,,,
Greater London Authority,E12000007,10726,11018,8329,10053,11993
Barking & Dagenham,E09000002,85,161,131,139,159
Barnet,E09000003,178,282,173,166,216
Bexley,E09000004,42,88,93,92,106
Brent,E09000005,320,374,283,373,455
Bromley,E09000006,67,54,57,92,113
Camden,E09000007,639,630,666,719,903
City of London,E09000001,434,350,372,482,656
Croydon,E09000008,306,322,271,373,449
Ealing,E09000009,493,624,448,563,710
Enfield,E09000010,206,326,183,219,197
Greenwich,E09000011,133,213,135,196,337
Hackney,E09000012,275,350,229,246,251
Hammersmith & Fulham,E09000013,266,243,214,238,462
Haringey,E09000014,327,405,268,304,442
Harrow,E09000015,45,67,58,96,128
Havering,E09000016,71,73,69,79,55
Hillingdon,E09000017,270,282,140,167,296
Hounslow,E09000018,147,223,144,196,328
Islington,E09000019,367,388,238,337,409
Kensington & Chelsea,E09000020,316,271,193,199,226
Kingston upon Thames,E09000021,124,87,99,120,107
Lambeth,E09000022,431,581,438,623,681
Lewisham,E09000023,229,301,264,296,353
Merton,E09000024,92,109,45,63,77
Newham,E09000025,724,578,428,503,535
Redbridge,E09000026,330,380,247,248,279
Richmond,E09000027,152,115,61,86,100
Southwark,E09000028,548,567,388,435,549
Sutton,E09000029,34,18,29,30,28
Tower Hamlets,E09000030,459,400,297,460,498
Waltham Forest,E09000031,133,261,153,186,203
Wandsworth,E09000032,203,401,264,173,172
Westminster,E09000033,2757,2162,1698,2050,2102

In [19]:
df = df.drop('GSS Code', axis=1)

In [22]:
df = df.drop(['2019/20','2020/21','2021/22'],axis=1)

In [23]:
df

                          2022/23  2023/24
Area
Greater London Authority    10053    11993
Barking & Dagenham            139      159
Barnet                        166      216
Bexley                         92      106
Brent                         373      455
Bromley                        92      113
Camden                        719      903
City of London                482      656
Croydon                       373      449
Ealing                        563      710
Enfield                       219      197
Greenwich                     196      337
Hackney                       246      251
Hammersmith & Fulham          238      462
Haringey                      304      442
Harrow                         96      128
Havering                       79       55
Hillingdon                    167      296
Hounslow                      196      328
Islington                     337      409
Kensington & Chelsea          199      226
Kingston upon Thames          120      107
Lambeth                       623      681
Lewisham                      296      353
Merton                         63       77
Newham                        503      535
Redbridge                     248      279
Richmond                       86      100
Southwark                     435      549
Sutton                         30       28
Tower Hamlets                 460      498
Waltham Forest                186      203
Wandsworth                    173      172
Westminster                  2050     2102

In [24]:
df.iloc[0, 1]

11993

In [27]:
df['proportion'] = df['2023/24'] / df.iloc[0, 1]

In [28]:
df

                          2022/23  2023/24  proportion
Area
Greater London Authority    10053    11993    1.000000
Barking & Dagenham            139      159    0.013258
Barnet                        166      216    0.018011
Bexley                         92      106    0.008838
Brent                         373      455    0.037939
Bromley                        92      113    0.009422
Camden                        719      903    0.075294
City of London                482      656    0.054699
Croydon                       373      449    0.037439
Ealing                        563      710    0.059201
Enfield                       219      197    0.016426
Greenwich                     196      337    0.028100
Hackney                       246      251    0.020929
Hammersmith & Fulham          238      462    0.038522
Haringey                      304      442    0.036855
Harrow                         96      128    0.010673
Havering                       79       55    0.004586
Hillingdon                    167      296    0.024681
Hounslow                      196      328    0.027349
Islington                     337      409    0.034103
Kensington & Chelsea          199      226    0.018844
Kingston upon Thames          120      107    0.008922
Lambeth                       623      681    0.056783
Lewisham                      296      353    0.029434
Merton                         63       77    0.006420
Newham                        503      535    0.044609
Redbridge                     248      279    0.023264
Richmond                       86      100    0.008338
Southwark                     435      549    0.045777
Sutton                         30       28    0.002335
Tower Hamlets                 460      498    0.041524
Waltham Forest                186      203    0.016927
Wandsworth                    173      172    0.014342
Westminster                  2050     2102    0.175269

In [29]:
a = 0.4

In [32]:
tb = 100000

In [33]:
b = 0.6

In [34]:
df['food funding'] = df['proportion'] * a * tb

In [35]:
df['shelter funding'] = df['proportion'] * b * tb

In [37]:
df['Funding_Needed'] = df['shelter funding'] + df['food funding']

In [43]:
df

,2022/23,2023/24,proportion,food funding,shelter funding,Funding_Needed
Area,,,,,,
Greater London Authority,10053,11993,1.000000,40000.000000,60000.000000,100000.000000
Barking & Dagenham,139,159,0.013258,530.309347,795.464021,1325.773368
Barnet,166,216,0.018011,720.420245,1080.630368,1801.050613
Bexley,92,106,0.008838,353.539565,530.309347,883.848912
Brent,373,455,0.037939,1517.551905,2276.327858,3793.879763
Bromley,92,113,0.009422,376.886517,565.329776,942.216293
Camden,719,903,0.075294,3011.756858,4517.635287,7529.392145
City of London,482,656,0.054699,2187.942967,3281.914450,5469.857417
Croydon,373,449,0.037439,1497.540232,2246.310348,3743.850580
Ealing,563,710,0.059201,2368.048028,3552.072042,5920.120070
Enfield,219,197,0.016426,657.049946,985.574919,1642.624865
Greenwich,196,337,0.028100,1123.988994,1685.983490,2809.972484
Hackney,246,251,0.020929,837.155007,1255.732511,2092.887518
Hammersmith & Fulham,238,462,0.038522,1540.898858,2311.348287,3852.247144
Haringey,304,442,0.036855,1474.193279,2211.289919,3685.483199
Harrow,96,128,0.010673,426.915701,640.373551,1067.289252
Havering,79,55,0.004586,183.440340,275.160510,458.600850
Hillingdon,167,296,0.024681,987.242558,1480.863837,2468.106395
Hounslow,196,328,0.027349,1093.971483,1640.957225,2734.928708
Islington,337,409,0.034103,1364.129075,2046.193613,3410.322688
Kensington & Chelsea,199,226,0.018844,753.773034,1130.659551,1884.432586
Kingston upon Thames,120,107,0.008922,356.874844,535.312265,892.187109
Lambeth,623,681,0.056783,2271.324940,3406.987409,5678.312349
Lewisham,296,353,0.029434,1177.353456,1766.030184,2943.383640
Merton,63,77,0.006420,256.816476,385.224714,642.041191
Newham,503,535,0.044609,1784.374218,2676.561327,4460.935546
Redbridge,248,279,0.023264,930.542817,1395.814225,2326.357042
Richmond,86,100,0.008338,333.527891,500.291837,833.819728
Southwark,435,549,0.045777,1831.068123,2746.602185,4577.670308
Sutton,30,28,0.002335,93.387810,140.081714,233.469524
Tower Hamlets,460,498,0.041524,1660.968899,2491.453348,4152.422246
Waltham Forest,186,203,0.016927,677.061619,1015.592429,1692.654048
Wandsworth,173,172,0.014342,573.667973,860.501959,1434.169932
Westminster,2050,2102,0.175269,7010.756274,10516.134412,17526.890686